<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kurt Schimmel">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Kurt Schimmel professional website">
    <title>Kurt Schimmel</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body style="font-family: Arial">
    <header>
        <h1 id="webname">Kurt Schimmel</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="forfun.html">For Fun</a>
            <a href="dontcontactme.html">Dont Contact Me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <p>Hi, My name is Kurt Schimmel. I am a varsity athlete on the Track and Field Team at Carnegie Mellon University. I enjoy playing volleyball, hanging out with friends, and playing Brawl Stars.</p>
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment"><br>
            <button type="submit">Submit</button>
        </form>
        <table>
            <tr>
                <th>Contact Method</th>
            </tr>
            <tr>
                <td>Kurt Schimmel</td>
            </tr>
            <tr>
                <td>kschimme@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>4256337653</td>
            </tr>
        </table>
        <br>
    </div>
    <footer>Copyright 2025 Kurt Schimmel</footer>
</body>
</html>