@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70;
}

a {
    text-decoration: none;
    color:#92ad70;
    margin-right: 15px;
}

th {
    padding: 12;
    background-color:aliceblue;
    color:blueviolet;
    width: fit-content;
}

tr:nth-child(even) {
    background-color:#92ad70;
}

form * {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    padding: 5px;
    margin: auto;
    display: block;
    text-align: center;
    
}

#comment {
    width:300px;
    height:200px;
}

button {
    background-color: green;
    border: none;
    border-radius: 4px;
    width: 60px;
}

img {
    width: 30%;
    height: 30%;
}